<!-- header //-->
<div class="header-nav">
    <h2>Navigation</h2>
    <ul class="navigation-links">
        {% if page.pid %}<li class="nav-link"><a href="/"><img src="/images/home-icon.png" width="16" /></a></li>{% endif %}
        <li class="nav-link"><a href="https://as-if-by.co.uk" title="Visit Codelamp v1 site (now holding page)">v1</a></li>
        <li class="nav-link"><a href="http://codelamp.co.uk/index-v2.php" title="Visit Codelamp v2 site (PHP)">v2</a></li>
        <li class="nav-link"><a href="https://v3.codelamp.co.uk" title="Visit Codelamp v3 site (Node + Sails)">v3</a></li>
        <li class="nav-link"><a href="https://v4.codelamp.co.uk" title="Visit Codelamp v4 site (Pure JavaScript)">v4</a></li>
    </ul>
</div>