/**
 * Posts
 */

ul.navigation-links,
ul.recent-posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.post-excerpt {
  position: relative;
  padding: 40px;
}

li.post-excerpt::after {
  content: '';
  display: block;
  clear: both;
}

.read-more {
  background: orange;
  border-radius: 10px;
  float: right;
  display: block;
  padding: 10px 16px;
  margin: 10px;
  color: white;
  text-decoration: none;
}

a.external {
  color: darkorange;
  text-decoration: none;
}

a.external:hover,
a.external:active {
  color: red;
  text-decoration: underline;
}

a.internal {
  color: #009bb8;
  text-decoration: none;
}

a.internal:hover,
a.internal:active {
  color: #004b59;
  text-decoration: underline;
}

img.margin {
  margin: 1em;
}
img.max-width {
  width: 100%;
  height: auto;
}

dl > dt { float: left; clear: left; margin-right: 0.5em; margin-left: 0.5em; }
dl > dd { margin: 0; padding: 0; padding-left: 2em; }

dl > dt.done { color: darkgreen; }
dl > dt.todo { color: darkred; }