<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
{% if page.metaTitle and page.metaSubTitle %}<title>{{ page.metaTitle }} | {{ page.metaSubTitle }}</title>{% elsif page.metaTitle %}<title>{{ page.metaTitle }}</title>{% else %}<title>Codelamp Blog</title>{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if page.description %}<meta name="description" content="{{ page.description }}" />{% elsif site.description %}<meta name="description" content="{{ site.description }}" />{% endif %}
<link type="text/css" rel="stylesheet" href="/css/core.css" media="screen" />
<link type="text/css" rel="stylesheet" href="/css/responsive.css" media="screen" />
<link rel="icon" href="favicon.png" type="image/png" />
{% include syntax-head.html %}
</head>
<body>
  {% include header.html %}
  <section class="intro">
    <div class="padding">
      <div>{{ content }}</div>
    </div>
  </section>
  <section class="recent-posts">
    <ul class="recent-posts">
      {% for post in site.posts limit: 4 %}
        <li class="post-excerpt">
          {{ post.excerpt }}
          <a class="read-more" href="{{ post.url }}">Read more &gt;&gt;</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  {% include footer.html %}
  {% include syntax-foot.html %}
</body>
</html>